@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Smooch+Sans:wght@100..900&display=swap");

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f8f8f8;
    --foreground: #ededed;
  }
}
/* @font-face {
  font-family: "Mona Sans";
  src: url("/font/MonaSans_Condensed-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@layer utilities {
  button {
    @apply cursor-pointer;
  }
  input {
    @apply outline-none px-3 py-2;
  }
  textarea {
    @apply outline-none px-3 py-2;
  }
}
